/dist/
/build/
*.properties

.idea/.name

*.xml

*.xml

*.iml

*.properties

*.MF

*.xml

*.properties

nbproject/project.properties

nbproject/private/private.properties

.idea/artifacts/LAB_3B_jar.xml
